<?xml version="1.0"?>
<config>
    <modules>
        <Ma2_WidgetTabsF>
            <version>1.0.0</version>
        </Ma2_WidgetTabsF>
    </modules>
    
    <admin>
         <routers>
            <WidgetTabsF>
                <use>admin</use>
                <args>
                    <module>Ma2_WidgetTabsF</module>
                    <frontName>WidgetTabsF</frontName>
                </args>
            </WidgetTabsF>
        </routers>
    </admin>
    
    <adminhtml>        
        <layout>
            <updates>
                <WidgetTabsF>
                    <file>ma2_widgettabsf.xml</file>
                </WidgetTabsF>
            </updates>
        </layout>
    </adminhtml>
    
    <frontend>        
        <layout>
            <updates>
                <WidgetTabsF>
                    <file>ma2_widgettabsf.xml</file>
                </WidgetTabsF>
            </updates>
        </layout>
    </frontend>
    
    <global>
        <helpers>
            <WidgetTabsF>
                <class>Ma2_WidgetTabsF_Helper</class>
            </WidgetTabsF>
        </helpers>
        <blocks>
             <WidgetTabsF>
                <class>Ma2_WidgetTabsF_Block</class>
             </WidgetTabsF>
        </blocks>
        <models>
             <WidgetTabsF>
                <class>Ma2_WidgetTabsF_Model</class>
             </WidgetTabsF>
        </models>
        <resources>
            <WidgetTabsF_setup>
                <setup>
                    <module>Ma2_WidgetTabsF</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </WidgetTabsF_setup>
            <WidgetTabsF_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </WidgetTabsF_write>
            <WidgetTabsF_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </WidgetTabsF_read>
        </resources>
    </global>
</config>